* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.square {
  background: #fff;
  border: 3px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  margin: 5px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;

}

.status {
  margin: 10px auto;
  font-size: 24px;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}